@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E1BC5;
    font-family: 'Inter', sans-serif;
    


}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);

}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;

}
.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;    

}

.login-button button{
    border: none;
    background-color: #4E1BC5;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.login-button button:hover{
    background-color: #2408ED;
}


.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #4E1BC5;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    

}

.input-group{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #4E1BC5;
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;

}

.input-box input::placeholder{
    color: #000000be;
}


.signup-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #4E1BC5;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 0.93rem;
    text-decoration: none;
    font-weight: bold;

}

.signup-button button:hover{
    background-color: #2408ED;
}


@media screen and (max-width: 1390px) {
    .form-image{
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
    
}
@media screen and (max-width: 1163px) {
    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }
    .form {
        width: 100%;
        padding: 2rem 1rem;
        box-sizing: border-box;
    }
    .form-header {
        margin-bottom: 2rem;
        text-align: center;
    }
    .form-header h1 {
        font-size: 1.5rem; 
        text-align: center; 
        margin: 0; 
    }
    .form-header h1::after {
        position: relative; 
        margin-top: 0.5rem; 
    }
    .input-group {
        flex-direction: column;
        overflow-y: visible; 
        flex-wrap: nowrap;
        max-height: none;
        width: 100%; 
    }
    .input-box {
        width: 100%;
        margin-bottom: 1rem;
    }
    .input-box input {
        width: calc(100% - 1.2rem); /* Ajuste a largura do input */
        margin: 0.6rem 0;
        padding: 0.8rem 1rem; 
    }
    .signup-button button {
        width: 100%;
        margin-top: 1.5rem;
        padding: 0.8rem;
    }
    .termos {
        text-align: center;
        font-size: 0.8rem; 
        margin: 1rem 0; 
    }
    .login-button {
        text-align: center;
        margin-top: 1rem;
    }
    .login-button button {
        width: auto;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0.5rem;
        align-items: center; 
    }
    .form {
        padding: 1.5rem 0.5rem;
        box-sizing: border-box; 
    }
    .input-box input {
        padding: 0.2rem 0.3rem; 
        box-sizing: border-box;
    }
    .signup-button button {
        padding: 0.6rem;
    }
    .termos {
        font-size: 0.7rem; 
    }
    .login-button button {
        padding: 0.4rem 0.8rem;
    }
}